<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <a href="/classrooms/new" class="btn btn-default btn-block">
      <i class="fa fa-plus"></i>
    </a>
    <hr>
  </div>
</div>

<% @classrooms.each do |classroom| %>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading text-center">
        <%= classroom.room %>
      </div>
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item-success text-center">
            Teachers
          </li>
          <% if classroom.teacher_name_1.present? %>
          <li class="list-group-item text-center">
            <%= classroom.teacher_name_1 %>
          </li>
          <% end %>
          <% if classroom.teacher_name_2.present? %>
          <li class="list-group-item text-center">
            <%= classroom.teacher_name_2 %>
          </li>
          <% end %>
          <% if classroom.teacher_name_3.present? %>
          <li class="list-group-item text-center">
            <%= classroom.teacher_name_3 %>
          </li>
          <% end %>
        </ul>

        <a class="btn btn-warning btn-block" role="button" href="/classrooms/<%= classroom.id %>/edit">
          Edit Class
        </a>
        <hr>



        <a class="btn btn-danger btn-block" role="button" href="/delete_classroom/<%= classroom.id %>/edit">
          Delete Class
        </a>
      </div>
    </div>
  </div>
</div>


<% end %>
