<div class="page-header">
  <h3>Class #<%= @classroom.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Room</dt>
      <dd><%= @classroom.room %></dd>

      <dt>Teacher name1</dt>
      <dd><%= @classroom.teacher_name1 %></dd>

      <dt>Teacher name2</dt>
      <dd><%= @classroom.teacher_name2 %></dd>

      <dt>Teacher name3</dt>
      <dd><%= @classroom.teacher_name3 %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/classes" class="btn btn-primary">
        Back
      </a>
      <a href="/classrooms/<%= @classroom.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_classroom/<%= @classroom.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
