<div class="page-header">
  <h3>Child #<%= @child.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Class</dt>
      <dd><%= @child.class_id %></dd>

      <dt>Dob</dt>
      <dd><%= @child.dob %></dd>

      <dt>Last name</dt>
      <dd><%= @child.last_name %></dd>

      <dt>First name</dt>
      <dd><%= @child.first_name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/children" class="btn btn-primary">
        Back
      </a>
      <a href="/children/<%= @child.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_child/<%= @child.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
