<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <a href="/children/new" class="btn btn-default btn-block">
      <i class="fa fa-plus"></i>
    </a>
    <hr>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title text-center">My Children</h2>
        <p></p>
        <p class="text-center">
          <small>Green=selected, red=unselected.  Use child link to edit items.</small>
        </p>
      </div>
      <div class="panel-body">
        <table class="table table-striped table-hover ">
          <thead>
            <tr>
              <th>Selected?</th>
              <th>Child</th>
            </tr>
          </thead>

          <tbody>
            <% @children.each do |child| %>
            <tr>

              <div class="btn-group">
                <% if child.users.pluck(:id).include? current_user.id %>
                <td>
                  <a class="btn btn-success" role="button" href="/delete_family/<%= child.families.find_by(:user_id => current_user.id).id %>">
                    <i class="fa fa-check-square" aria-hidden="true"></i>
                  </a>
                </td>
                <td>
                  <a href="/children/<%= child.id %>">
                    <%= child.first_name %> <%= child.last_name %>
                  </a>
                </td>
                <% else %>
                <td>
                  <form action="/create_family" method="post">
                    <!-- Hidden input for authenticity token to protect from forgery -->
                    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

                    <!-- Label and input for user_id -->

                    <input type="hidden" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= current_user.id %>">


                    <!-- Label and input for child_id -->

                    <input type="hidden" id="child_id" name="child_id" placeholder="Child" class="form-control" value="<%= child.id %>">

                    <button class=" btn btn-danger">
                      <i class="fa fa-check-square-o" aria-hidden="true"></i>
                    </button>
                  </form>
                </td>

                <td>
                  <%= child.first_name %> <%= child.last_name %>
                </td>
                <% end %>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
