<div class="page-header">
  <h3>Item #<%= @item.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Size</dt>
      <dd><%= @item.size %></dd>

      <dt>Child</dt>
      <dd><%= @item.child_id %></dd>

      <dt>Total cnt</dt>
      <dd><%= @item.total_cnt %></dd>

      <dt>Current cnt</dt>
      <dd><%= @item.current_cnt %></dd>

      <dt>Min cnt</dt>
      <dd><%= @item.min_cnt %></dd>

      <dt>Weather type</dt>
      <dd><%= @item.weather_type %></dd>

      <dt>Description</dt>
      <dd><%= @item.description %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/items" class="btn btn-primary">
        Back
      </a>
      <a href="/items/<%= @item.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_item/<%= @item.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
